<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="products.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">{{ message }}
    <input type="text" v-model="name" />
    <button v-on:click="createProduct()">Create Product</button>
    <div v-for="product in products">
      <h4>Product: {{ product.name }}</h4>
      <h4>Description: {{ product.description }}</h4>
    </div>
  </body>
</html>
